<div class="row align-items-center justify-content-center mt-5 mb-5">
  <%= search_form_for @q, url: search_posts_path do |f| %>
    <%= f.label :user_id_cont, 'ユーザー名' %>
    <%= f.search_field :post_details_title_or_post_details_price_cont %>
    <%= f.submit '検索' %>
  <% end %>
</div>

<%= render partial: 'public/shared/post', locals: { posts: @posts } %>