<h1>Public::Posts#index</h1>
<p>Find me in app/views/public/posts/index.html.erb</p>

<%= link_to "新規投稿", new_post_path %>
<br><br><br><br>
<% @posts.each do |post| %>
  <%= post.user_id %><br>
  <% post.post_details.each do |post_detail| %>
    <%= post_detail.title %><br>
    <%= post_detail.price %><br>
  <% end %>

  <%= link_to "詳細", post_path(post) %>

  <br><br>
<% end %>

<h1>検索</h1>
<%= search_form_for @q, url: search_posts_path do |f| %>
  <%= f.label :user_id_cont, 'ユーザー名' %>
  <%= f.search_field :post_details_title_or_post_details_price_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<br><br><br><br>