<div class="card mx-auto width80 mb-5 mt-5">
  <div class="card-header">
    <%= @post.user.nickname %>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ジャンル</th>
          <th scope="col">名目</th>
          <th scope="col">値段</th>
        </tr>
      </thead>
      <tbody>
      <% @post_details.each do |post_detail| %>
        <tr>
          <td>
            <% if post_detail.genre_id.nil? %>
              <%= post_detail.custom_genre %>
            <% else %>
              <%= post_detail.genre.name %>
            <% end %>
          </td>
          <td><%= post_detail.title %></td>
          <td><%= post_detail.price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <canvas id="myPieChart" width="400" height="400"></canvas>

  </div>
</div>
<% if user_signed_in? && @post.user_id == current_user.id %>
  <%= link_to "編集", edit_post_path(@post), class: "btn btn-success text-light" %>
  <%= link_to "削除", post_path(@post), class: "btn btn-danger text-light", method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<hr>

<%= render 'public/shared/favorites', post: @post %>

<br>
<hr>
<%= form_with model: [@post,@comment] do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_area :comment %><br>
  <%= f.submit "投稿", class: "btn btn-secondary" %>
<% end %>
<br>
<hr>
<% @post.comments.each do |comment| %>
  <%= comment.user.nickname %><br>
  <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
  <%= comment.comment %><br>
  <% if user_signed_in? && comment.user_id == current_user.id %>
    <%= link_to "編集", edit_post_comment_path(comment), class: "btn btn-success text-light" %>
    <%= link_to "削除", post_comment_path(comment), class: "btn btn-danger text-light", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<br>
<hr>
<% end %>
<br><br>
<%= link_to "戻る", posts_path, class: "btn btn-primary text-light" %>