<!DOCTYPE html>
<html>
  <head>
    <title>FcManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "ユーザーログイン", new_user_session_path %>
      <%= link_to "アドミンログイン", new_admin_session_path %>
      <%= link_to "サインアップ", new_user_registration_path %>
      <%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "アドミンログアウト", destroy_admin_session_path, method: :delete %>
      <% if user_signed_in? %>
      ユーザーログイン済み
      <% elsif admin_signed_in? %>
      アドミンログイン済み
      <% else %>
      未ログイン
      <% end %>
    </header>
    <%= yield %>
    <footer>
      フッター
    </footer>
  </body>
</html>
