<!DOCTYPE html>
<html>
  <head>
    <title>FcManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <script src="https://kit.fontawesome.com/30f9642506.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <%= link_to root_path, class: "nohover navbar-brand" do %>
            <%= image_tag 'logo.png', :size => '172x50' %>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <%= link_to my_page_path, class: "nohover" do %>
              <i class="fa-solid fa-user fa-3x mr-3"></i>
            <% end %>
            <%= link_to "投稿する", new_post_path, class: "btn btn-light text-warning font-weight-bold mr-2" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning text-light font-weight-bold" %>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-warning text-light font-weight-bold mr-2" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-light text-warning font-weight-bold mr-2" %>
            <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, class: "btn btn-light text-warning font-weight-bold" %>
          </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>
